shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
confirm-modules-purge=false
verify-deps-before-run=false
approve-builds[]=@nestjs/core
approve-builds[]=@scarf/scarf
approve-builds[]=bcrypt
approve-builds[]=unrs-resolver
